@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, abyss --prefersdark;
}


@font-face {
  font-family: "Ibm";
  src: url("./font/static/IBMPlexSans-ExtraLight.ttf") format("truetype");
}



body{
  font-family: "Ibm";
}



#lights {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}


/* @plugin "daisyui/theme" {
  name: "winter";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(70% 0.022 261.325);
  --color-primary-content: oklch(13% 0.028 261.692);
  --color-secondary: oklch(71% 0.203 305.504);
  --color-secondary-content: oklch(29% 0.149 302.717);
  --color-accent: oklch(70% 0.191 22.216);
  --color-accent-content: oklch(25% 0.092 26.042);
  --color-neutral: oklch(37% 0.034 259.733);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
} 

 */

* {
  scroll-behavior: smooth
}

.gridi {
  min-height: 100lvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.glassMorf {
  
  @apply shadow-xl z-40 sticky  top-2 left-0.5 right-2 navbar h-8 bg-transparent 
  
}






* {
  scrollbar-width: 20px;
  scrollbar-color: rgb(0, 0, 0) rgba(255, 255, 255, 0.2);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(213, 213, 213, 0.222);
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}