@import "tailwindcss";
@plugin "daisyui";



@font-face {
  font-family: "Ibm";
  src: url("./font/static/IBMPlexSans-ExtraLight.ttf") format("truetype");
}



body{
  font-family: "Ibm";
}



#lights {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}




@plugin "daisyui/theme" {
  name: "black";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(17% 0 0);
  --color-base-300: oklch(21% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(25% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(25% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(25% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(25% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(45.201% 0.313 264.052);
  --color-info-content: oklch(89.04% 0.062 264.052);
  --color-success: oklch(51.975% 0.176 142.495);
  --color-success-content: oklch(90.395% 0.035 142.495);
  --color-warning: oklch(96.798% 0.211 109.769);
  --color-warning-content: oklch(19.359% 0.042 109.769);
  --color-error: oklch(62.795% 0.257 29.233);
  --color-error-content: oklch(12.559% 0.051 29.233);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


.mask1 {
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}


.mask2 {
  
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}

.contentt{
  content-visibility: auto;
}

/* 
/* @plugin "daisyui/theme" {
  name: "winter";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(70% 0.022 261.325);
  --color-primary-content: oklch(13% 0.028 261.692);
  --color-secondary: oklch(71% 0.203 305.504);
  --color-secondary-content: oklch(29% 0.149 302.717);
  --color-accent: oklch(70% 0.191 22.216);
  --color-accent-content: oklch(25% 0.092 26.042);
  --color-neutral: oklch(37% 0.034 259.733);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
} */


* {
  scroll-behavior: smooth
}

.gridi {
  min-height: 100lvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.glassMorf {
  
  @apply shadow-xl z-40 sticky  top-2 left-0.5 right-2 navbar h-8 bg-transparent 
  
}






* {
  scrollbar-width: 20px;
  scrollbar-color: rgb(0, 0, 0) rgba(255, 255, 255, 0.2);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(213, 213, 213, 0.222);
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}